{% extends 'base.html' %}
{% load static %}

{% block body %}
     <h1 class="text-warning text-center st-font mt-5">Educational Qualifications</h1>

    <div class="row text-white mt-5">
      <div class="col-sm-5 border-right border-warning h-200 mt-5 ">
          <h5><b class="text-warning">B.Sc. in Computer Science & Software Engineering</b></h5>

      </div>
      <div class="col-sm-4 mt-5">
          <p><b class="text-warning">Passing Year :</b> 2015 - 2019</p>
          <p><b class="text-warning">CGPA :</b> 2.98 on a scale of 4.00</p>
          <p>Stamford university Bangladesh</p>


      </div>

    </div>



    <div class="row text-white mt-2">
      <div class="col-sm-5 border-right border-warning h-200 mt-5 ">
          <h5><b class="text-warning">Higher Secondary Certificate</b></h5>

      </div>
      <div class="col-sm-4 mt-5">
          <p><b class="text-warning">Passing Year :</b> 2013</p>
          <p>Al-Amin Academy School And Collage</p>


      </div>

    </div>

    <div class="row text-white mt-2">
      <div class="col-sm-5 border-right border-warning h-200 mt-5 ">
          <h5><b class="text-warning st">Secondary School Certificate</b></h5>

      </div>
      <div class="col-sm-4 mt-5">
          <p><b class="text-warning">Passing Year :</b> 2011</p>
          <p>Hasan Ali Govt High School Chandpur</p>


      </div>

    </div>


{% endblock %}