{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="mt-5 text-center">
    <img src="{% static 'images/PPP.jpg' %}" alt="profilepic"
         class="img-thumbnail" width="200px" height="150px">
</div>
    <div class="text-white mt-5 mx-5 st-font">
    <h3>Hello,</h3>
    </div>

    <div class="text-white mx-5 px-4 text-justify " style = "line-height:2rem;">
        <p class="mt-5">I am <b class="text-warning">Sakib Ahmad</b>.</p>

        <p>To seek challenging assignment and responsibility, with
        opportunities for growth and career advancement as successful achiever.</p>

        <p>Professional <b class="text-warning">Junior Network Administration</b>  with
        6 months of Internship experience and managing network, security and server infrastructure.</p>

    </div>

    <div class="row mt-5 my-5 mr-5 text-center">
      <div class="col-sm-4 mt-5">
          <i class="fas fa-map-marked-alt fa-3x mb-3 i-color"></i>
          <p class="sst-color">Banasree,Rampura,Dhaka 1216</p>
      </div>

      <div class="col-sm-4 mt-5 ">
         <i class="fas fa-at fa-3x mb-3 i-color"></i>
          <p class="sst-color">saakib10@yahoo.com</p>

      </div>
      <div class="col-sm-4 mt-5">
         <i class="fas fa-mobile-alt fa-3x mb-3 i-color"></i>
          <p class="sst-color">+8801689280626</p>

      </div>

    </div>


{% endblock %}