{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div>
    <h1 class="text-warning text-center st-font mt-5">Professional Skills</h1>
    </div>

    <div class="row mt-5">
      <div class="col-sm-5 border-right border-warning h-200 mt-5 mx-5">

            <p> <b class="text-warning" >Programming Language :</b></p>
            <p> <b class="text-warning" >Web Design :</b></p>
            <p> <b class="text-warning" >Programming Framework :</b></p>
            <p> <b class="text-warning" >Operating System :</b></p>
            <p> <b class="text-warning" >Database :</b></p>
            <p> <b class="text-warning" >Networking :</b> </p>

      </div>
      <div class="col-sm-4 text-white mt-5">
            <p>C , C++ , Python(professional).</p>
            <p>Html , Css , Bootstrap, Javascript.</p>
            <p>Django.</p>
            <p>Windows , Linux.</p>
            <p>Mysql , Postgresql , sqlite3.</p>
            <p>Cisco Certified Network Associate (CCNA),Mikrotik Configuration,
                Microsoft Certified Solution Associate (MCSA).</p>

    </div>

    </div>


{% endblock %}