{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1 class="text-warning text-center st-font mt-5">Work Experience</h1>


    <div class="row mt-5">
        <div class="col-sm-5 border-right border-warning h-200 mt-5 text-warning ">
            <h5 class="text-warning mt-5">01/09/ 19 – 31/12/19 (Intern)</h5>
          <h5 class="text-warning mt-5">Junior Network Administrator</h5>
          <h5>At</h5>
          <h5>Reve Systems</h5>
        </div>
        <div class="col-sm-4 text-white">
        <h5 class="mt-5">Problem Solved</h5>
            <ul class="mt-5">
                <li>Network Support to users and maintain the support.</li>
                <li>Technical Issues solving and Network security ensure.</li>
                <li>Handled network With Mikrotik.</li>
                <li>Linux server management.</li>
                <li>Data entry in Database.</li>
            </ul>

        </div>
    </div>


{% endblock %}